<div class="container">
    <div class="form-box">
      <h2>Plan Application Form</h2>
  
      <form [formGroup]="planForm" (ngSubmit)="applyForPlan()">
        <div class="form-row">
          <div class="form-group">
            <label for="amount">Applied Amount:</label>
            <input type="text" id="amount" formControlName="appliedAmount" required>
            <div *ngIf="planForm.controls['appliedAmount'].invalid && planForm.controls['appliedAmount'].touched" class="error">
              *Applied Amount is required and must be at least 100.
            </div>
          </div>
          <div class="form-group">
            <label for="date">Application Date:</label>
            <input type="date" id="date" formControlName="date" required>
            <div *ngIf="planForm.controls['date'].invalid && planForm.controls['date'].touched" class="error">
              *Application Date is required.
            </div>
          </div>
        </div>
  
        <label for="remarks">Remarks (Optional):</label>
        <textarea id="remarks" formControlName="remarks"></textarea>
  
        <label for="proof">Proof Document:</label>
        <input type="file" id="proof" required (change)="onFileSelected($event)" accept="image/*" />
        <p *ngIf="fileName">Selected File: {{fileName}}</p>
        <div *ngIf="planForm.controls['image'].invalid && planForm.controls['image'].touched" class="error">
          *Proof Document is required.
        </div>
  
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
  
    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" style="display: block;" *ngIf="showModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Success</h5>
          </div>
          <div class="modal-body">
            <p>Successfully applied!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeModal()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>